/* body{
  justify-content: center;
  width: 100%;
} */
.container{
  width: 100%;
  padding:0;
  margin: 0;
}

.collapse{
  background-color: black;
}

.navbar-nav{
  width:100%;
}

#Logo{
  float: inline-start;
  max-width: 20%;
  height: 60% !important;
  display: flex;
  float: left;

  
}


#heading:hover{
  color: yellow;
  
}

.NavItems{
  
  /* display: flex !important; */
  text-align: center;
  margin-bottom:10%;
  /* padding-left: 20%; */
  position: relative;
  top: 4rem;
}
.NavContents{
  display: flex;
  position: relative;
  background-color: black;
  height:40%;
  left: 30%;

}
a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: white;
  font-size: larger;
  width:100%;
}

a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: yellow;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.toggle-button{
  position: absolute;
  top: 4em;
  right: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;;
  height: 21px;
}
ul{
  display:flex;
  column-gap: 70px;
}

.toggle-button .bar{
  height:3px;
  width:100%;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media(max-width:1030px){
  .toggle-button{
    display: flex;
  }
  .collapse{
    background-color: black;
  }
  .nav-link{
    display: none;
    width: 100%;
  }
  .container{
    background-color: black;
  }

  .NavContents{
    display: flex;
    position: relative;
    height:40%;
  }
 
  
  .NavItems ul{
    position:relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left:0;
    top:0%;

  }

  .NavItems li {
    text-align: center;
    
  }

  .NavItems li a{
    padding:0.5rem 1rem;
  }

  .NavItems.active{
    display: flex;
  }
}

/* .navbar{
  margin: 0px;
  width: 100%;;
  border-width: 0;
} */

