.navbar{
    color:white !important;
    background-color: black !important;
    
    height:300px !important;
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
}

.nav-link{
    font-size: larger;
    padding-right: 20px;
}
