

.main_name{
    text-align: center;
    justify-items: center;
    height: fit-content;
    font-size: larger;
    
}

.container_space{
    display: grid;
    margin: 12% 12%;
}
.row{
    text-align:  center;
}

.btn-lg{
    color:white;
    background-color: black;
}

.btn-lg :hover{
    color:black !important;
    background-color: yellow !important;
}